@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
  height: 7px;
  width: 6px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: oklch(0.48 0.08 191.36);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.9799 0.0145 102.45);
  --foreground: oklch(0 0 187.36);
  --card: oklch(0.208 0.042 265.755);
  --primary: oklch(0.9491 0 0);
  --secondary: oklch(0.861 0.025 71.43);
  --accent: oklch(0.7381 0.0317 134.47);
  --destructive: oklch(0.704 0.191 22.216);
}

.dark {
  --background: oklch(0.28 0.04 193);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --primary: oklch(0.48 0.08 191.36);
  --secondary: oklch(0.62 0.1046 187.36);
  --accent: oklch(0.98 0.038 100.62);
  --destructive: oklch(0.704 0.191 22.216);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
